{% extends 'base.html.twig' %}

{% block content %}
    <h1>Nuevo Boletin Salida Temporaria</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-primary btn-lg" style="width:202px"/>
    {{ form_end(form) }}
    <p>
      <a type="button" class="btn btn-primary btn-lg" style="width:202px" href="{{ path("homepage") }}" align='center'>Volver</a>
    </p>
{% endblock %}
